extends layout

block content
	h1(id="header-text") Instant Product Search

	textarea(id="search-input" placeholder='Search' rows="1")

	div(id="result-container")
		div(class="spinner" )
			div(class="bounce1")
			div(class="bounce2")
			div(class="bounce3")
